@theme {
  /* Font Families */
  --default-font-family: var(--font-family-primary);

  /* Font Sizes */
  --text-sm: var(--font-size-14); /* 14px */
  --text-base: 1rem; /* 16px */
  --text-lg: var(--font-size-18); /* 18px */
  --text-xl: var(--font-size-20);   /* 20px */
  --text-2xl: var(--font-size-22); /* 22px */
  --text-3xl: var(--font-size-26); /* 26px */
  --text-4xl: var(--font-size-36); /* 36px */
  --text-5xl: var(--font-size-42);   /* 42px */
  --text-6xl: var(--font-size-46); /* 46px */
  --text-7xl: var(--font-size-60); /* 60px */
  --text-8xl: var(--font-size-120); /* 120px */

  /* Line Heights */
  --line-height-xs: var(--line-height-18);
  --line-height-sm: var(--line-height-20);
  --line-height-base: var(--line-height-28);
  --line-height-lg: var(--line-height-42);
  --line-height-xl: var(--line-height-46);

  /* Font Weights */
  --font-weight-normal: 400;
  --font-weight-semibold: 500;
  --font-weight-bold: 600;
}

h1 {
  font-family: var(--font-family-secondary);
  font-size: var(--text-7xl);
  line-height: var(--line-height-xl);
  color: var(--dark-grey);
}

h2 {
  font-family: var(--font-family-secondary);
  font-size: var(--text-5xl);
  line-height: var(--line-height-lg);
  color: var(--dark-grey);
}
h3 {
  font-family: var(--font-family-secondary);
  font-size: var(--text-3xl);
  color: var(--dark-grey);
}
a {
  text-decoration-line: underline;
  color: var(--green-500);
}
p {
  font-size: var(--font-size-20);
  line-height: var(--line-height-20);
  color: var(--dark-grey);
}