<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Banner Alert with Gradient</title>
    <style>
        .banner_alert {
            border: 2px solid rgb(106, 110, 110); 
            padding: 10px; 
            background: linear-gradient(to right, #1074df, #81aae9); 
            margin: 20px 0; 
            border-radius: 5px; 
            color: white; 
        }

        .banner_alert__title h3 {
            margin: 0; 
            color: white; 
        }

        .banner_alert__content p {
            margin: 5px 0 0; 
            color: black
        }
    </style>
</head>
<body>

<div class="banner_alert">
    <div class="banner_alert__title">
        <h3>Let op!</h3>
    </div>
    <div class="banner_alert__content">
        <p><i>Diepvries- en alcoholproducten zijn niet beschikbaar.</i></p> 
    </div>
</div>

</body>
</html>
